<% title 'Showing question' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'textmate' %>
<% end %>

<% content_for :subcol do %>
  <h2>Something</h2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <%= render :partial => 'shared/user_navigation'%>
<% end %>

<% # START: content %>
<h2>XML Document</h2>
<div class="iplastic_div">
  <code class="iplastic"><%= h(@question.document.to_s) %></code>
</div>
<% # END: content %>