    <div id="password" class="field">
      <label class="password" for="password">&nbsp;Password</label><br/>
      <%= f.password_field :password,  {:size => 48} %>
    </div>
    
    <div id="password_confirmation" class="field">
      <label class="password_confirmation" for="password_confirmation">&nbsp;Confirm password</label><br/>
      <%= f.password_field :password_confirmation,  {:size => 48} %>
    </div>