  <div id="name" class="field">
    <label class="name" for="name">&nbsp;Name</label><br/>
    <%= f.text_field :name,  {:size => 48} %>
  </div>
  
  <div id="email" class="field">
    <label class="email" for="email">&nbsp;Email</label><br/>
    <%= f.text_field :email,  {:size => 48} %>
  </div>

  <div id="homepage" class="field">
    <label class="homepage" for="homepage">&nbsp;Homepage</label><br/>
    <%= f.text_field :homepage,  {:size => 48} %>
  </div>
  
  <div id="about" class="field">
  <label class="about" for="about">&nbsp;About me</label><br/>
  <%= f.text_area :about, :rows => 11, :cols => 46 %>
  </div>