<% title 'Recover your password' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'forms' %>
<% end %>

<% content_for :subcol do %>
    <h2>Help</h2>
    <p> If you forgot your password, don't worry. Just give us your 
        <em>Email Address</em> (wich is the same as your <em>User ID</em>) 
        and we will email information on how to recover
        your account.
    </p>
<% end %>

<% # START: content %>
  <h2>Please provide us your User ID</h2>
  <% form_for :user, @user, :url => recover_password_users_path, :html => {:method => :put} do |f| -%>

  <div id="login" class="field">
    <label class="login" for="login">&nbsp;User ID (same as your
    email address)</label><br/>
    <%= f.text_field :login,  {:size => 48} %>
  </div>

  <div id="recover_password_submit">
    <%= f.submit 'Mail me instructions to reset my password' %> 
  </div>

  <% end %>
<% # END: content %>
